@import "../../mixins/mixins.scss";
.input_find_store_active {
    border-color: #00577b !important;
    border-width: 1px !important;
    border-style: solid !important;
}

.combobox_item_active {
    background-color: #00577b !important;
    color: #ffffff;
}

.combobox {
    @include size(200px, 35px);
    margin: 0;
    border: 1px solid #026b97;
    position: absolute;
    right: auto;
    top: 9px;
    left: 0;
    border-radius: 3px;
    &:hover {
        border-color: #0088c1;
    }
    & .wrapper {
        display: flex;
        @include size(100%);
        & .input {
            display: table-cell;
            overflow: hidden;
            position: relative;
            font-size: 13px;
            border-spacing: 0;
            border-collapse: separate;
            font-weight: 300;
            @include size(174px, 100%);
            & input {
                padding: 5px 1px 4px 8px;
                font-family: Roboto !important;
                font: 400 13px Roboto !important;
                color: #404040;
                background-color: #fff;
                min-height: 30px;
                background: repeat-x 0 0;
                display: block;
                @include size(100%);
                &:focus {
                    outline: none !important;
                }
            }
        }
        & .toggler {
            border-radius: 0 3px 3px 0;
            width: 24px;
            font: 16px/30px FontAwesome;
            background: #fff;
            color: #919191;
            display: table-cell;
            vertical-align: top;
            cursor: pointer;
            overflow: hidden;
            text-align: center;
            white-space: nowrap;
            border-collapse: separate;
            border-spacing: 0;
            position: relative;
            z-index: 0;
            &::before {
                content: url("../../../../../public/ImagesIcons/arrow-down-line.png") !important;
            }
        }
    }
    & .menu {
        @include size(auto);
        & .wrappermenu {
            box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
            position: absolute;
            z-index: 999999;
            left: -1px;
            top: 35px;
            @include size(auto);
            min-width: 100%;
            max-height: calc(258px + 8px);
            overflow-y: scroll;
            background-color: #fff;
            border-radius: 3px;
            border-width: 1px;
            border-style: solid;
            border-color: rgb(225, 225, 225);
            background: rgb(255, 255, 255);
            &::-webkit-scrollbar {
                width: 0;
            }
            & .items {
                list-style-type: none;
                border-radius: 3px;
                padding: 0;
                & .item {
                    padding: 0px 6px;
                    font: 13px / 22px Roboto;
                    cursor: pointer;
                    position: relative;
                    border-width: 1px;
                    border-style: none;
                    border-color: #0088c1;
                    text-align: left;
                    &:hover {
                        background-color: #0088c1;
                        color: rgb(255, 255, 255);
                        font-family: Roboto !important;
                    }
                }
            }
        }
    }
}