@mixin size ($width, $height:$width) {
    width: $width;
    height: $height;
}

@mixin centerAbsolute($pos) {
    position: absolute;
    @if $pos=="both" {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    @else if $pos=="left" {
        left: 50%;
        transform: translateX(-50%);
    }
    @else if $pos=="top" {
        top: 50%;
        transform: translateY(-50%);
    }
}